.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.container-1{
    background-color: #fff;
    .wrapper{
        .filler{
            font-size: 16px;
            text-align: left;
            a{
                padding: 4px 8px;
                display: flex;
            }
            .a-main{
                margin-bottom: 12px;
            }
            li{
                a{
                    color: #757575;
                    font-size: 15px;
                }
            }
        }
        .minmin-nav{
            position: relative;
            padding: 0 38px 0 36px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: #f5f5f5;
            height: 36px;
            .first-child{
                display: flex;
                li{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    .a-icons{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        padding: 0 12px 0 12px;
                        svg{
                            width: 24px;
                            height: 24px;
                            color: inherit;
                        }
                        &:hover{
                            color: #757575;
                        }
                    }
                }
            }
            .last-child{
                display: flex;
                li{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .a{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        margin: 0 8px 0 8px;
                        font-size: 12px;
                        letter-spacing: 0.53px;
                        &:hover{
                            color: #757575;
                        }
                    }
                    .find{
                        padding-right: 4px;
                        padding-left: 4px;
                    }
                    span{
                        margin-right: 4px;
                        font-size: 12px;
                    }
                    .help-drop-down{
                        visibility: hidden;
                        position: absolute;
                        top: 36px;
                        right: 184px;
                        background: #fff;
                        border-radius: 0 0 8px 8px;
                        transition: opacity .2s, visibility 0s linear .2s, transform .25s ease;
                        z-index: 20;
                        .help-wrapper{
                            padding: 24px 16px;
                        }
                    }
                }
                .help{
                    &:hover{
                        .help-drop-down{
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .main-nav{
            .wrapper-header{
                position: relative;
                padding: 0 38px 0 36px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 60px;
                .logo-main{
                    margin-left: .75rem;
                    z-index: 15;
                    a{
                        display: block;
                        height: 59px;
                        width: 59px;
                        margin: 1px 0;
                        svg{
                            transform: scale(1.33);
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .nav-windows-view{
                    .navigation{
                        padding-top: 8px;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        .navigation-ul{
                            width: calc(100% - 690px);
                            margin: 0 auto;
                            padding: 2px;
                            height: 52px;
                            overflow: hidden;
                            max-width: 1255px;
                            text-align: center;
                            .navigation-children{
                                display: inline-block;
                                max-height: 90%;
                                box-sizing: inherit;
                                .navigaiton-children-content{
                                    display: block;
                                    padding: 12px;
                                    padding-bottom: 18px;
                                    letter-spacing: .2px;
                                }
                                .children-dropdown{
                                    position: absolute;
                                    top: 60px;
                                    left: 0;
                                    right: 0;
                                    padding: 30px 145px 60px 145px;
                                    background-color: #ffffff;
                                    max-height: 100vh;
                                    .children-dropdown-wrapper{
                                        display: grid;
                                        grid-template-columns: repeat(5, 1fr);
                                        .section{
                                            div:first-child{
                                                margin-bottom: 40px;
                                            }
                                        }
                                    }
                                }
                                .New-Featured-dropdown{
                                    visibility: hidden;
                                }
                                .Men-dropdown{
                                    visibility: hidden;
                                }
                                .Women-dropdown{
                                    visibility: hidden;
                                }
                                .Kids-dropdown{
                                    visibility: hidden;
                                }
                                .Sale-dropdown{
                                    visibility: hidden;
                                }
                                .Jordan-dropdown{
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                    .navigation-end{
                        padding-top: 10px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        z-index: 15;
                        .search-box-wrapper{
                            padding-right: 20px;
                            input{
                                background-color: #f5f5f5;
                                max-width: 180px;
                                height: 40px;
                                padding: 8px 48px;
                                border-radius: 100px;
                                &::placeholder {
                                    color: #D5D5D5;
                                    font-family: 'Helvetica';
                                    font-size: 16px;
                                    letter-spacing: 1px;
                                }
                                &:hover{
                                    background: #E5E5E5;
                                    &::placeholder{
                                        color: #757575;
                                    }
                                }
                            }
                            .search-btn{    
                                cursor: pointer;
                                position: absolute;
                                z-index: 10;
                                right: 242px;
                                top: 60%;
                                height: 36px;
                                width: 40px;
                                border-radius: 100px;
                                transform: translateY(-50%);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span{
                                    svg{
                                        width: 21px;
                                        height: 21px;
                                        stroke-width: 2.4px;
                                    }
                                }
                                &:hover{
                                    background: #E5E5E5;
                                }
                            }
                        }
                        .icons-btn{
                            display: inline-flex;
                            height: fit-content;
                            width: fit-content;
                            border-radius: 50%;
                            padding: 6px;
                            cursor: pointer;
                            &:hover{
                                background-color: #E5E5E5;
                            }
                            span{
                                height: 24px;
                                width: 24px;
                            }
                        }
                        .icons-btn-firts{
                            margin-right: 12px;
                        }
                    }
                }
                .nav-mobile-view{
                    display: none;
                    padding-top: 8px;
                    .icons-btn{
                        display: block;
                        height: 40px;
                        width: 40px;
                        padding: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                        cursor: pointer;
                        &:hover{
                            background-color: #E5E5E5;
                        }
                        span{
                            display: flex;
                            height: 24px;
                            width: 24px;
                        }
                    }
                    .ham-menu-btn{
                        margin: 0;
                    }
                    .search-btn{
                        margin-right: 6px;
                    }
                    .ham-menu{
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100vh;
                        overflow-y: scroll;
                        background-color: aqua;
                        width: 320px;
                        z-index: 99;
                        .ham-menu-wrapper{
                            padding: 40px 30px 150px 36px;
                            .exit{
                                position: absolute;
                                right: 19px;
                                top: 8px;
                                margin-right: 10px;
                                svg{
                                    height: 23.4px;
                                    width: 23.4px;
                                }
                            }
                            .menu-content{
                                padding: 10px 0;
                                line-height: 1.166667;
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                align-items: center;
                                .lable{
                                    font-size: 24px;
                                }
                                svg{
                                    width: 21.81px;
                                    height: 24px;
                                }
                            }
                            .menu-footer{
                                padding-top: 16px;
                                .brand-menu{
                                    .brand{
                                        padding-top: 12px;
                                        .brand-name{
                                            .brand-wrapper{
                                                display: flex;
                                                align-items: center;
                                                height: 100%;
                                                width: 100%;
                                                padding: 4px 0 8px 0;
                                                span{
                                                    width: 36px;
                                                    height: 30px;
                                                    text-align: center;
                                                }
                                                .title{
                                                    font-size: 16px;
                                                    padding-left: 12px;
                                                    line-height: 1;
                                                    padding-top: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .headline-learn-more-container{
                                    font-size: 20px;
                                    color: #000;
                                    margin-top: 50px;
                                    padding-top: 48px;
                                    margin-right: 12px;
                                    .headline{
                                        color: #707072;
                                        .learn-more{
                                            color: #000;
                                        }
                                    }
                                    .js-btn-container{
                                        margin-top: 24px;
                                        display: flex;
                                        .js-btn{
                                            color: #111111;
                                            font-size: 16px;
                                            background-color: white;
                                            margin: 8px 8px 0 0;
                                            padding: 6px 16px;
                                            border: #CACACB 1.5px solid;
                                            border-radius: 30px;
                                            &:hover{
                                                border-color: #000;
                                            }
                                            &:first-child{
                                                color: #fff;
                                                background-color: #000;
                                                border: none;
                                                &:hover{
                                                    background-color: #707072;
                                                }
                                            }
                                            span{
                                                display: flex;
                                                align-items: center;
                                                padding-top: 5px;
                                                height: 24px;
                                            }
                                        }
                                    }
                                }
                                .group-btn{
                                    margin-top: 50px;
                                    .btn-wrapper{
                                        color: #111111;
                                        padding-top: 12px;
                                        .btn{
                                            display: flex;
                                            align-items: center;
                                            span{
                                                width: 36px;
                                                height: 32px;
                                                text-align: center;
                                            }
                                            p{
                                                padding-left: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 959px){
    .container-1{
        .wrapper{
            .minmin-nav{
                display: none;
            }
            .main-nav{
                .wrapper-header{
                    padding: 0 14px 0 12px;
                    .nav-windows-view{
                        display: none;
                    }
                    .nav-mobile-view{
                        display: flex;
                    }
                }
            }
        }
    }
}