@font-face {
    font-family: "Helvetica Neue";
    src: url(./Fonts/HelveticaNeueLTW1GMd.otf);
}

@font-face {
    font-family: "Nike Futura ND";
    src: url(./Fonts/Nike\ Futura\ ND.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-offset: 2px;
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue";
    margin: 0;
    color: #111111;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

.btn{
    display: inline-flex;
    z-index: 1;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 6px;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 6px 16px;
    background-color: #fff;
    color: #111111;
    border-radius: 30px;
    &:hover{
        background-color: #CACACB;
    }
}